body {
    background-color: #DBDEE0;
    text-align: center;
}

#navbar {
    background-color: #425A6B;
}

.navbar .navbar-nav .nav-item a {
    color: whitesmoke;
}

.jumbotron {
    background-color: #7E8B95;
    margin-bottom: 0px;
}

#profile-info {
    background-image: url("https://i.pinimg.com/originals/a4/a1/a6/a4a1a61d27ccca7551dbb88e5613d26a.jpg");
    background-color: #A7AFB5;
    color: black;
}

#profile-info div {
    background-color: rgba(219, 222, 224, 0.808);
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

#profile-info div p {
    text-align: center;
}

#fun-facts {
    background-color: #7E8B95;
}

#education {
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

#education div div h4+p {
    text-align: center;
}

#experience {
    text-align: center;
    display: inline-block;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
}

#experience div {
    text-align: left;
}

#programming-skills {
    border-top: 1px solid black;
    border-right: 1px solid black;
}

table {
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

th,
td {
    border: 1px solid black;
}

#general-interests {
    border-top: 1px solid black;
    border-left: 1px solid black;
}

#general-interests div {
    margin-left: auto;
    margin-right: auto;
}

#general-interests div h4,
p {
    text-align: left;
}

#favorite-media {
    background-color: #A7AFB5;
}

#favorite-website {
    background-color: #7E8B95;
}

#favorite-website div {
    width: 900px;
}

#favorite-website .container {
    width: 900px;
}

.btn-info {
    padding-bottom: 0px;
}

#course-projects {
    background-color: #A7AFB5;
}

#course-projects ul {
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

#profile-info,
#education,
#experience,
#programming-skills,
#general-interests,
#favorite-media,
#favorite-website,
#course-projects {
    padding-top: 5px;
    padding-bottom: 16px;
}